/*CSS RESETS*/
html {
    box-sizing: border-box;
    font-size: 16px;
  }
    
body{
    background-color: #f7f7f7;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
}

  ol, ul{
      list-style-type: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

.redBrd{
    border: 2px solid red;
}

.yellowBrd{
    border: 2px solid yellow;

}

.blueBrd{
    border: 2px solid blue;
}

.navContainer{
    
}
.mainNavContainer{
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
    margin: 0 auto;
}

.logoContainer{
    /* flex-grow:1; */
}

.navItems{
    display: flex;

}

.mainNavItem{
    padding-left: 10px;
    padding-top: .875rem;
    font-size: .875rem;
    color: #5a5a5a;
    /* font-family: tcf-icons,Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif; */
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    line-height: .875rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
}
.asideIconsContainer{
    /* flex-grow: 1; */
    display: flex;
    margin-left: auto;
    font-size: 1rem;
}

.iconContainer{
    padding-right: 1rem;
}

.glassIcon{
    /* background-color: red; */
    padding: .25rem;
}
.lockContain{    
    color: #c4161c;
}
.lockIcon{
    color: #ffffff;
    background-color: #c4161c;
    border-radius: 50%;
    padding: .25rem;
}


.subNavContainer{
    background-color: #5a5a5a;
    margin: 0;
    padding: 0;
}
.navItemContainer{
    max-width: 1400px;
    /* margin: 0 auto; */
    
}

.subNavContainer .navItemContainer{
    margin: 0 auto;

}
.subNavItem{
    /* padding: 10px; */
    font-size: .875rem;
    color: #ffffff;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    /* line-height: 2.875rem; */
    font-weight: 500;
}

/*Start Page Content*/

.pageContainer{
    max-width: 1400px;
    height: auto;
    margin: 0 auto;
}

.slideContainer, .slide, #slide1{
    width: 100%;
    min-height: 330px;
}

#slide1{
    background: url("images/ladyOnPhone.jpg");
}

.slideContent h2, .slideContent p{
    color: #ffffff;
}

.slideForm{
    width: 100%;
    max-width: 300px;
    height: auto;
    background: hsla(0,0%,100%,.8);
}

.featuredIconContainer{
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
}

.featuredContentContainer{
    display: flex;
    width: 100%;
    height:auto;
    background-color: #ffffff;
    /* box-sizing: border-box; */
}

.contentHeading{
    margin: 0;
    background-color: #ededec;
}
.moreInfo{
    background-color: #ededec;
}
.featuredContentItem, .featuredImgContainer{
    width: 100%;
    height: auto;
}

.blurbSection{
    background-color: #ffffff;
}