/*CSS RESETS*/
html {
    box-sizing: border-box;
    font-size: 18px;
  }
    
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  ol, ul{
      list-style-type: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

.redBrd{
    border: 2px solid red;
}

.yellowBrd{
    border: 2px solid yellow;

}

.blueBrd{
    border: 2px solid blue;
}
